@using LeinCottage.Resources

@{
    ViewBag.Title = "Contact";
}

<div style="display:flex; flex-wrap:wrap; justify-content:space-between">
    <div id="contacsWrapper" style="margin: 10px 0 0 30px">
        <p>@GlobalResources.ContactsBtn:</p>
        <p><strong>@GlobalResources.ContactName</strong></p>
        <p>@GlobalResources.ContactPhones</p>
        <p>@GlobalResources.ContactAddress</p>
        <hr />
        <p>@GlobalResources.Accomodation</p>
        <p>@GlobalResources.RoomsRelease</p>
        <hr />
    </div>
    <div id="cardWrapper" style="margin: 10px 30px 0 0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1462.0656678611742!2d24.639610000000005!3d42.870071999999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a97f80d50cb489%3A0x562b66ba99c8abaa!2z0JrRitGJ0LAg0LfQsCDQs9C-0YHRgtC4IExlaW4gQ290dGFnZQ!5e0!3m2!1sbg!2sbg!4v1422543171983" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>