@using LeinCottage.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@GlobalResources.ApplicationName - @ViewBag.Title</title>
    <link href="~/Content/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="azbuka-font-family">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(GlobalResources.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(GlobalResources.HomeBtn, "Index", "Home")</li>
                    <li>@Html.ActionLink(GlobalResources.GalleryBtn, "Index", "Gallery")</li>
                    <li>@Html.ActionLink(GlobalResources.ContactsBtn, "Index", "Contacts")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                @GlobalResources.FooterVisit <a href="@GlobalResources.FaceBookLink">
                    @GlobalResources.FooterFaceBookPageLink!
            </a>
                <strong>@GlobalResources.BeWellcome</strong>
        </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>