@using LeinCottage.Resources

@model IQueryable<LeinCottage.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<form method="post" enctype="multipart/form-data" id="form">
    <h3 style="font-family:'Azbuka'">@GlobalResources.UploadPhotos</h3>

    <input type="button" value="@GlobalResources.ChoosePhotos" onclick="document.getElementById('file').click();" />
    <input type="file" style="display:none" id="file" name="uploadedPhotos" multiple onchange="displaySelectedPhotos()"/>

    <input type="button" value="@GlobalResources.AddSelectedPhotos" onclick='validateFileSelected()' id="submit-btn-wrapper" disabled="disabled" />
    <input type="submit" class="display-none" id="submit" onclick="showInfoToast('@GlobalResources.PhotoAdding')" />
</form>

<div id="photos-wrapper">
    <h3 style="font-family:'Azbuka'">@GlobalResources.DeletePhotos</h3>
    <ul id="list-of-photos-to-delete">
        @foreach (LeinCottage.Models.Photo photo in Model)
        {
            <li class="image-for-delition-li">
                <div class="img-holder">
                    <img src="~/GalleryThumbnails/@photo.ThumbnailName" class="galery-thumbnail" />
                    <img src="~/Content/img/delete.png" id="@photo.Id" onclick="deleteImage(@photo.Id)" class="link"/>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    function deleteImage(imageId) {
        toastr.clear();
        toastr.error("<button type='button' id='confirmationRevertYes' class='btn clear custom-btn'>Да</button><button type='button' id='confirmationRevertNo' class='btn clear custom-btn'>Не</button>", 'Сигурни ли сте, че искате да изтриете снимката?',
          {
              closeButton: true,
              positionClass: "toast-bottom-full-width",
              preventDuplicates: true,
              onShown: function (toast) {
                  $("#confirmationRevertYes").click(function () {
                      $.ajax({
                          url: '@Url.Action("Delete", "ImagesAdministration")',
                          type: 'POST',
                          data: { 'id': imageId },
                          async: false,
                          cache: false,
                          success: function () {
                              toastr.clear();
                              window.location = "@Url.Action("Index", "ImagesAdministration")";
                          }
                      });
                  });
                  $("#confirmationRevertNo").click(function () {
                      toastr.clear();
                  });
              }
          });
    }

    function showInfoToast(msg) {
        toastr.options = {
            "positionClass": "toast-top-full-width",
        }
        toastr.info(msg).show();
    }

    function validateFileSelected() {
        document.getElementById('submit-btn-wrapper').disabled = true;

        if ($("#file").val()) {
            document.getElementById('submit').click();
        } else {
            toastr.options = {
                "positionClass": "toast-top-full-width",
                "preventDuplicates": true,
            }
            toastr.error("Не сте избрали снимка!", "Грешка!")
        }
    }

    function displaySelectedPhotos() {
        var value = $('#file').val();

        if (value) {
            document.getElementById("submit-btn-wrapper").disabled = false;
        }
    }
</script>